@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* navbar */
.App {
  width: 100%;
}

.navbar {
  /* border: 1px solid red; */
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .section {
    border: 1px solid green;
    margin-right: 1vw;
    width: 80%;
  }

  .navbar {
    /* border: 1px solid red; */
    display: inline;
    align-items: flex-end;
  }
  .nav-list {
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    margin: 0;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .svg-play {
    margin-top: -16px;
  }
  .left-bar > div > a {
    margin-left: -44px;
  }

  .left-bar {
    position: fixed;
    width: 60px;
    height: 1002px;
    left: 0px;
    top: 0px;
    background: #ffe4d6;
    border-radius: 24px 0px 0px 0px;
    text-align: center;
    padding-top: 127px;
  }
}

.section {
  /* border: 1px solid green; */
  padding-left: 18vw;
  margin-right: 8vw;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 59px;
}

.nav-list {
  /* width: 50%; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #cbb1a2;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;

  gap: 4vw;
}

.nav-list :hover {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #664e97;

  text-transform: capitalize;
}

.active-list {
  color: #6749a5;
}

/* left bar  */

.left-bar {
  position: fixed;

  max-width: 160px;
  height: 1002px;
  left: 0px;
  top: 0px;

  background: #ffe4d6;
  border-radius: 24px 0px 0px 0px;
  text-align: center;
  padding-top: 127px;
}

.left-bar > div {
  /* border: 1px solid red; */

  margin: 50px;
}

.content {
  /* margin-right: 5vw;
  margin-top: 60px;
  margin-left: 15vw; */
  /* border: 1px solid blue; */
  position: relative;
}

.content-item {
  size: cover;
  overflow: hidden;
  margin-bottom: 60px;
  height: 42vw;
  width: 100%;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.content-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
}

.content-text {
  width: 90%;
  height: 26vw;
  margin: 5%;
  position: absolute;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  justify-content: space-between;

  color: #ffffff;
}

.title {
  text-align: start;
}
.svg-play {
}

.svg-play {
  position: absolute;
  top: 100%;
  cursor: pointer;
}
